{% extends 'index.html' %}

{% load static %}
{% block container %}


<!-- Modal -->

{% include 'casos/CrearCaso.html' %}

<!-- Modal -->

{% include 'casos/crearcaso.html' %}
{% include 'casos/estados.html' %}


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 min-vh-100" style="background-color:rgb(126, 28, 146)">
            <div class="position-sticky">
                <hr>
                <ul class="list-unstyled ps-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" href="{% url 'formulario' %}"><i class="fs-5 fa fa-grid-2"></i>
                            <span class="fs-4 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                <div class="dropdown mb-3">
                    <li class="nav-item">
                        <button  class="btn btn-light dropdown-toggle" style="background-color:rgb(126, 28, 146)" data-bs-toggle="dropdown"  aria-expanded="false" ><i class="bi bi-house-door"></i>
                            <span class="align-middle">Casos</span>
                        </button>
                        <ul id="casopartes" class="dropdown-menu" style>
							<li class="sidebar-item active"><i class="bi bi-newspaper"></i> <a class="dropdown-item fs-4 d-none d-sm-inline" style="background-color:rgb(126, 28, 146)" href="{% url 'casosactuales' %}">Actuales</a></li>
							<li class="sidebar-item"><i class="bi bi-newspaper"></i> <a class=" dropdown-item fs-4 d-none d-sm-inline" style="background-color:rgb(126, 28, 146)" href="{% url 'casoshistorico'%}">Historico</a></li>
							
						</ul>
                    </li>
                </div>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" href="#"><i class="fs-5 fa fa-table-list"></i>
                            <span class="fs-4 d-none d-sm-inline">Reportes</span></a>
                    </li>
                </ul>
            </div>
        </div>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 class="mt-3">Novedades Actuales</h2>
            <button id="crearCaso" type="button" class="btn btn-primary mt-3" style="background-color:rgb(126, 28, 146)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nueva peticion
            </button>
            <table id="tablaCasoActual" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Fecha de creacion</th>
                        <th>Incidencia</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>

                </thead>
                <tbody>
                    {% for contexts in parametro %}
                    <tr>
                        <td class="dt-body-left" >{{contexts.ticket}}</td>
                        <td>{{contexts.caso_usuario}}</td>
                        <td>{{contexts.creado_en}}
                        <td>{{contexts.incidencia}}</td>
                        <td>{{contexts.estado}}</td>
                        <td>
                            {% comment %} <button
                                type="button"
                                class="btn btn-primary"
                                id="modalButton"
                                data-id=
                            >
                                ver caso
                            </button>{% endcomment %}
                            <button class="btn btn-success btn-sm" id="seguimientoCaso">Ver caso</button>
                            <button class ="btn btn-primary btn-sm" id="estadoCaso"  aria-controls="offcanvasExample" >Seguimiento </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>

<script  src="{% static 'js/utils.js' %}"></script>
<script  src="{% static 'js/getCookie.js' %}"></script>
<script  src="{% static 'js/sweetAlertFunctions.js' %}"></script>
<script  src="{% static 'js/actualizarEstados.js' %}"></script>
<script  src="{% static 'js/casos.js' %}" ></script>
<script  src="{% static 'js/collapse.js' %}" ></script>
<script  src="{% static 'js/modal.js' %}"></script>





{% endblock container %}