

{% block container %}

<!-- Button trigger modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Peticion Nueva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action ="{% url 'crearcaso' %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                <div class="col">
                    <input type="text" class="w-50 form-control" name="incidencia" id="incidencia" placeholder="Incidencia"><br>
                </div>
        
                <div class="col">
                    <textarea rows="10" cols="50" type="text" class="w-50 form-control" name="descripcion" id="descripcion" placeholder="Descripcion"></textarea><br>
                </div>
                <select class="w-50 form-select" name="estado" id="estado"> 
                    <option value="" disabled selected>Estado </option>
                    <option value="pendiente">pendiente</option>
                    <option value="En proceso">en proceso</option>
                    <option value="resuelto">resuelto</option>
                </select> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit"  class="btn btn-outline-success btn-regus" value="Guardar">
            </div>
        </form>
    </div>
    </div>
</div>




{% endblock container %}
