<div class="offcanvas offcanvas-end" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Estado Ticket</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="offcanvasBody">
    {% comment %} <div>
        <label for="">Ticket</label>
        <h2>Estados</h2>
        <form action="" id="actualizarEstadoForm" method="post">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="" id="">
                <option value="" selected>-- Seleccione un estado --</option>
                <option value="pendiente">Pendiente</option>
                <option value="en_proceso">En Proceso</option>
                <option value="resuelto">Resuelto</option>
            </select>

            <textarea name="comentario" id="comentario">

            </textarea>
        </form>
        
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> {% endcomment %}
  </div>
</div>